<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Create chat</h4>
    </div>
    <div class="modal-body">
        <div class="modal-body manage_chat_form">
                <input type="text" class="modal-body manage_chat_form input_text" id="createText" placeholder="Enter chat name">
                <input type="button" class="modal-body manage_chat_form create_btn" id="createBtn" onclick="onCreateClick()" value="Create chat"/>
        </div>
    </div>
</div>
