.container {

    margin: auto;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
    height: 38.2%;
    max-height: 38.2%;
}
.top_spac {
    margin: 20px 0 0;
}


.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}
#createChatText {
    right: 155px;
}
.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}
.modal-body .manage_chat_form {
    right: 5%
}
.modal-body .manage_chat_form input[type=text] {
    left: 11%;
}
.modal-body .manage_chat_form .create_btn {
    position:relative;
}
/*
input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}*/

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}
input[type=button] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input[type=button]:hover {
    background-color: #39ace7;
}

input[type=button]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
.create_chat_form input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.create_chat_form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.create_chat_form {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

    .chat_ib h5 span {
        font-size: 13px;
        float: right;
    }

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}
.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}
#content_of_page {
    width: 100%;
    height: 100%;
    padding: 0 0 0 3%;
}
#content_container {
    width: 97%;
    height: 100%;
}
.partialChat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: none;
    
    width: 6%;
    margin-bottom: 15%;
}

.modal-content {
    width: 50%;
    position: absolute;
    float: left;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
    margin-top: 50%;
}


.time_date {
    color: green;
    padding: 0 10px;
    font-size: 62%;
    display: block;
}
/*---------------------------------------------------*/
/* Received message */
.received_msg .received_withd_msg p {
    margin-top: 50px;
    border-radius: 3px;
    color: green;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
    overflow-wrap: break-word;
}

.received_msg  {
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 83%;
    min-height: 40%;
}

    .received_msg .sender_name {
        color: green;
        border: 1px solid green;
        width: 100%;
    }
.received_withd_msg {
    width: 100%;
    margin: 0;
    border-left: 1px solid darkgreen;
    border-right: 1px solid darkgreen;
    border-bottom: 1px solid darkgreen;
}
.received_withd_msg .time_date {
    float: left;
}
.incoming_msg {
    margin: 0.6% 0;
}
/*---------------------------------------------------*/
/* Outgoing message */
.outgoing_msg {
    overflow: hidden;
    margin: 0.6% 0;
}
.outgoing_msg .time_date {
    float: right;
}

    .outgoing_msg .sender_name {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .outgoing_msg .sender_name p {
        color: green;
        border: 1px solid green;
        width: 100%;
        text-align: right;
        padding: 1px 3px 1px 1px;
        margin: 0;
    }
.sent_msg .received_withd_msg p {
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: green;
    padding: 5px 10px 5px 12px;
    width: 100%;
    overflow-wrap: break-word;
}


.sent_msg {
    float: right;
    width: 46%;
    background: none;
}
/*---------------------------------------------------*/
#msg_time:after {
    content: '';
    position: absolute;
    width: 120%;
    height: 100%;
    background: -webkit-repeating-linear-gradient(180deg, #463A3A 10px, #F2F2F2 10px, #F2F2F2 11px, #463A3A 11px, #463A3A 20px) repeat-x;
    background: -moz-repeating-linear-gradient(180deg, #463A3A 10px, #F2F2F2 10px, #F2F2F2 11px, #463A3A 11px, #463A3A 20px) repeat-x;
    background-size: 30px 2px;
    margin-left: -15%;
    margin-top: 12%;
    transform: skew(-45deg);
    left: 0;
    z-index: -1;
}

.messages {
    padding: 0;
    width: 60%;
    max-height: 100%;
    height: 100%;
    display: inline-block;
    float: left;
}
#managment {
    float: right;
    position: relative;
    display: inline-block;
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: green;
}
#link_send_btn {
    display: block;
}
#user-list-panel {
}
#user-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.scroll {
    width: 200px;
    height: 400px;
    background: red;
    overflow: scroll;
}

.msg_history::-webkit-scrollbar {
    width: 15px;
}

.msg_history::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 10px;
}

.msg_history::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 0;

    width: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

​
.input_msg_write {
    height: inherit;
    width: inherit;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.input_link_write {
    width: 51%;
    padding: 0;
    margin: 0;

}
#write_msg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: none;
    padding: 0;
    color: green;
    font-size: 15px;
    margin: 0;
    max-width: 100%;
    height: 100%;
    position: relative;
    -webkit-flex: 0 0 90%;
    flex: 0 0 90%;
    display: inline-block;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
}
.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 100%;
    width: 10%;
    display: inline-block;
    /*position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;*/
}

.messaging {
    padding: 0 0 50px 0;
    position: absolute;
    top: 64%;
    left: 3%;
    right: 0.1%;
    height: 100%;
}
.msg_history {
    width: 100%;
    height: 80%;
    max-height: 80%;
    border-right: 1px solid black;
    overflow-y: auto;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*
.msg_history {
    float: left;
    width: 50%;
    height: 100%;
    overflow-y: auto;
}

.container {
    max-width: 1170px;
    margin: auto;
    height: 100%;
}
body
{
    height: 100%;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
    position: absolute;
    width: 84%;
    height: 61.5%;
}

.top_spac {
    margin: 20px 0 0;
}


.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    padding:
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

    .chat_ib h5 span {
        font-size: 13px;
        float: right;
    }

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.partialChat {
    float: right;
    padding: 30px 15px 0 25px;
    width: 70%;
    position: relative;
    left: 15.8%;
    height: 10%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    width: 46%;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: absolute;
    bottom: 40px;
    right: 39px;
    width: auto;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
    height: 100%
}

.msg_history {
    height: 516px;
    overflow-y: auto;
}
    */
/*body
{
    //background-color: blue;
}

ul {

}

div #messageBox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: dashed;
}
div #messageBox ul p {
    border: 1px;
    background-color: blueviolet;
    position: relative;
    margin: 5px;
    display: block;
    max-width: 100%;
}

ul.li:after {
    position: absolute;
    top: 0;
    left: 0;
    content: counter(steps);
    counter-increment: steps;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    background: #000;
}

ul.li:before {
    position: absolute;
    left: 13px;
    top: 0;
    content: "";
    height: 100%;
    width: 0;
    border-left: 2px dashed #000;
}

ul.li:last-of-type:before {
    border: none;
}*/
